* {
  box-sizing: border-box;
}

body {
  border: 4px blue solid;
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 5rem 1rem;
  padding: 0;
  background-color: rgb(1, 104, 1);
}

.tablero-display {
  border: 1px solid purple;
  margin: .5rem;
}

.puntuacion {
  margin: .5rem;
  height: fit-content;
  color: red;
  -webkit-text-stroke: 2px white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: 3.2em;
  line-height: 1.1;
}

.mensaje {
  background-color: red;
  text-align: center;
  font-size: larger;
  line-height: 2;
  width: max-content;
}

.carta {
  margin: .5rem;
  height: 500px;
  border-top: 3px white solid;
  border-bottom: 3px white solid;
  border-left: 4px white solid;
  border-right: 4px white solid;
}

.contenedor_botones {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  margin: .5rem;
  width: fit-content;
  border: 1px solid orange;
}

button {
  border: none;
  color: white;
  margin: .5rem;
  width: 200px;
  text-decoration: none;
  background: none;
  font-size: 2rem;
  border: white 1px solid;
}

.boton_nueva_partida {
  border: black 1rem solid;
  font-size: 2rem;
  color: black;
}

button:hover {
  color: red;
  font-style: italic;
  text-shadow: 1px gray;
}
