body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  border: black solid 1px;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.tablero {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.mensaje{
  background-color: blue;
  font-size: large;
  color: white;
  width: fit-content;
  position: absolute;
}

.puntuacion{
  background-color: grey;
  color: white;
  font-size: xx-large;
  width: fit-content;
  position: relative;
  align-self: center;
  margin: 10rem;
}

.carta {
  width: 20%;
  margin: 1rem;
  z-index: 10;
  align-self: center;

}

.boton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  width: fit-content;
  background-color: #bd0000;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

.boton:hover {
  border-color: white;
  margin: 1rem, 2rem;
}